<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Pending Rides</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Car Maintained</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Maintenance Type</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amount Spent</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date Maintained</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Maintained By</th>
                  <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th> -->
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in maintenance %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ item.car }}</h6>
                        <!-- <p class="text-xs text-secondary mb-0">{{ item.user.email }}</p>
                        <p class="text-xs text-secondary mb-0">{{ item.user.phone1 }}
                          {% if item.user.phone2 %}; {{ item.user.phone2 }}{% endif %}
                        </p> -->
                      </div>
                    </div>
                  </td>
                 <td>
                    <p class="text-xs font-weight-bold mb-0">{{ item.type|capfirst }}</p>
                  </td>
                  <td class="text-xs font-weight-bold mb-0">
                    <p class="text-xs font-weight-bold mb-0">{{ item.amount_spent }}</p>
                    <!-- <span class="badge badge-sm bg-gradient-success">{{ rider.destination }}</span> -->
                  </td>
                  <td class="text-xs font-weight-bold mb-0">
                    <p class="text-xs font-weight-bold mb-0">{{ item.date_maintained }}</p>
                    <!-- <span class="badge badge-sm bg-gradient-success">{{ rider.destination }}</span> -->
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ item.user.first_name }} {{ item.user.last_name }}</span>
                  </td>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>