{% extends "layouts/base.html" %}
{% block title %} Bank Details {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<hr>
<br>

<div class="container">
<form method="POST" class="row g-3">{% csrf_token %}
    <h4>Bank Account Detail</h4>
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationDefault01" value="{{ user.first_name }}" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" value="{{ user.last_name }}" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label">Email/Username</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">@</span>
        <input type="text" class="form-control" id="validationDefaultUsername" value="{{ user.email }}"  aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
    <div class="col-md-12">
        <label for="validationDefault02" class="form-label">Account Name</label>
        <input type="text" class="form-control" id="validationDefault02" name="account_name" required>
      </div>
    <div class="col-md-3">
        <label for="validationDefault04" class="form-label">Account Type</label>
        <select class="form-select" id="validationDefault04" name="account_type" required>
            <option selected disabled value="">Choose...</option>
            <option value="1">Current</option>
            <option value="2">Savings</option>
        </select>
    </div>
    <div class="col-md-6">
      <label for="validationDefault03" class="form-label">Bank Name</label>
      <input type="text" class="form-control" id="validationDefault03" name="bank_name" required>
    </div>
    <div class="col-md-3">
      <label for="validationDefault05" class="form-label">Account Number</label>
      <input type="number" class="form-control" id="validationDefault05" name="account_number" min="1000000000" max="9999999999" required>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          I declare that all information provided above are true; and I <strong>Agree</strong> to terms and conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-success" type="submit">Submit form</button>
    </div>
  </form>
</div>

{% endblock content %}