{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Pending Drivers Application</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Applicant</th>
                    <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Licence Status</th> -->
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Licence Expire Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Comments</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                    <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th> -->
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for pending in pending_requests %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          {% if pending.user.gender == 'male' %}
                            <img src="/static/assets/img/team/male.jpg" class="avatar avatar-sm me-3">
                          {% else %}
                            <img src="/static/assets/img/team/female.png" class="avatar avatar-sm me-3">
                          {% endif %}
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ pending }}</h6>
                          <p class="text-xs text-secondary mb-0">{{ pending.user.email }}</p>
                          <p class="text-xs text-secondary mb-0">{{ pending.user.phone1 }}
                            {% if pending.user.phone2 %}; {{ pending.user.phone2 }}{% endif %}
                          </p>
                        </div>
                      </div>
                    </td>
                    <!-- <td>
                      <p class="text-xs font-weight-bold mb-0">{{ pending.valid_licence }}</p>
                    </td> -->
                    <td class="text-xs font-weight-bold mb-0">
                      <p class="text-xs font-weight-bold mb-0">{{ pending.licence_exp_date }}</p>
                      <!-- <span class="badge badge-sm bg-gradient-success">{{ rider.destination }}</span> -->
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ pending.comments }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-xs font-weight-bold mb-0">
                          <a href="{% url 'approve_drivers_request' id=pending.id %}">
                          {% if pending.status == 'pending' %} Invite for Interview {% else %}Click to Approve{% endif %}
                          </a>
                        </span>
                    </td>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Active Rides</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rider</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pick-up Address</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Destination Address</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Class</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for active in active_riders %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                       </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ active }}</h6>
                          <p class="text-xs text-secondary mb-0">{{ active.rider.email }}</p>
                          <p class="text-xs text-secondary mb-0">{{ active.rider.phone1 }}
                            {% if active.rider.phone2 %}; {{ active.rider.phone2 }}{% endif %}
                          </p>
                        </div>
                      </div>
                    </td>
                   <td>
                      <p class="text-xs font-weight-bold mb-0">{{ active.pickup_address }}</p>
                    </td>
                    <td class="text-xs font-weight-bold mb-0">
                      <p class="text-xs font-weight-bold mb-0">{{ active.destination }}</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ active.service_class }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">Start</span>
                    </td>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> -->

{% endblock content %}

