{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    /* text-align: center; */
    /* background-color: #474e5d; */
    /* color: white; */
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  </style>
<hr>

<div class="about-section">
  <h1>Hada Logistics</h1>
  <p>Hadad Logistics is a fast-growing logistic business, with it’s operating base in Abuja, Nigeria.                Hadad Logistics is a subsidiary of Hadad Business Group, which was founded in 2016.                                              At Hadad Logistics, we see it as part of our duty to help co-ordinate all your logistic needs, by providing our clients with swift, efficient, and reliable services, with our cutting-edge technology.
    At Hadad Logistics, we make customers satisfaction our priority. We handle all of your logistic needs and make appropriate adjustments as schedules shift.
     Transportation, chauffeured vehicles for rent, taxi cab services, chauffeur for hire, errand services, and trucking services are only a few services we provide.
  </p>
  <!-- SERVICES -->
  <h3>Our Services</h3>
  <div class="row col-md-12">
    {% for service in services %}
        <!-- <div class="col-md-4"> -->
          <!-- card begins -->
          <div class="card">
            <div class="card-header">
              {{ service.service_type }}
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">{{ service.service_type }}</h5> -->
              <p class="card-text">{{ service.description }}</p>
              <a href="{% url 'book_a_ride' service_type_id=service.id %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
          <!-- card ends -->
          <br>
        <!-- </div> -->
    {% endfor %}
  </div> 
  <!--END SERVICES-->
</div>
<br>
<!-- CATEGORIES -->
<h2 style="text-align:center">CATEGORIES</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/assets/img/cars/1.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Comfort</h2>
        <p class="title">Toyota Corolla</p>
        <p>You deserve the best; Confort at it cheapest rate in town</p>
        <!-- <p>mike@example.com</p> -->
        <p><button class="button">Book Now</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/static/assets/img/cars/1.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Executive</h2>
        <p class="title">Mini Copper</p>
        <p>You deserve the best; Ride with ease on our Executive ride</p>
        <!-- <p>john@example.com</p> -->
        <p><button class="button">Book Now</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/assets/img/cars/1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Luxury</h2>
        <p class="title">LX570</p>
        <p>You deserve the best; Get luxury at its best with us</p>
        <!-- <p>jane@example.com</p> -->
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<br>
<!-- OUT TEAM -->
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/assets/img/team/profile-picture-3.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/assets/img/team/profile-picture-1.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/static/assets/img/team/profile-picture-4.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
